/* 
    Document   : form
    Created on : Jun 17, 2013, 8:37:33 PM
    Author     : user
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
.top_nav{
    margin-top: 10px;
    background-color: red;
}
div#dashboard_bg.container{
    margin-top: 10px;
}
.top_header{
    border-radius: 0px; 
}
.form_button{
    width: 220px;
}
table{
    font-size: 12px;
}
form{

}
.form_elements_holder label, input, select{
    font-size: 12px;
}
.main_content_bg{
    border: solid 1px #a3a3a3;
    margin-bottom: 30px;
    background-image: url(../img/bg.png);
}
.main_content_bg .dashboard{
    margin-top: 20px;
}
.main_content_bg .dashboard .user_summary {
    padding-bottom: 30px;
    background-color: #fff;
    margin-left: 30px;
    margin-bottom: 30px;
    border: solid 1px #f1f1f1;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.main_content_bg .dashboard .user_summary table {
    margin: 20px;
    color: #a3a3a3;
}
div.main_content_bg{
    /*background-image: url(../img/noise.jpg);*/
}
.main_content_bg .dashboard .user_summary table span {
    color: #eb242c;
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
}
.main_content_bg .dashboard #user_menu {
    padding-top: 20px;
    background-color: #fff;
    width: 696px;
    border: solid 1px #f1f1f1;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    margin-bottom: 30px;
    padding-bottom: 30px;
}

.main_content_bg .dashboard #user_menu2 {
    padding-top: 10px;
    background-color: #fff;
    width: 1000px;
    border: solid 1px #f1f1f1;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    margin-bottom: 30px;
    margin-top: 2px;
    padding-bottom: 30px;
}


#program_status {
    background-color: #f1f1f1;
    height: 70px;
}
#program_status li {
    margin-left: 10px;
    margin-top: 17px;
}
.main_content_bg #req_form {
    padding: 20px;
    margin: 20px;
}
.main_content_bg #req_form td {
    width: 300px;
}
.main_content_bg .dashboard #user_menu table span {
    color: #eb242c;
}
.main_content_bg #req_form b {
    color: #0d6896 !important;
    text-transform: uppercase;
}
.main_content_bg #req_footer {
    height: 100px;
    background-color: #f1f1f1;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    -moz-border-bottom-left-radius: 5px;
    -moz-border-bottom-right-radius: 5px;
    -webkit-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border: solid 1px #d8d8d8;
}
.main_content_bg #req_footer a, button{
    margin-top: 30px;

}
select{
    margin-bottom: 10px;
}
table thead tr th{
    background-color: #53616e;
    color: white;
}
#submit_button{
    margin-top: 3px;
    width: 220px;
}
#submit_create_button{
    margin-top: 14px;
    width: 220px;
}
.alert_msg{
    width: 694px;
    margin-left: 20px;
    margin-top: 19px;
}